
/*phone-font-sizing: 16px-21px
  
  tablet-font-sizing:20px-25px
  
  desktop-font-sizing:21px-27px

*/

* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

  


:root {
  --primary-color:#3C9EB0;
  --secondary-color:#D5EAE4;
  
  --space-unit: 1em;
    --space-xxs:  calc(0.25 * var(--space-unit));
    --space-xs:   calc(0.5 * var(--space-unit));
    --space-sm:   calc(0.75 * var(--space-unit));
    --space-md:   calc(1.25 * var(--space-unit));
    --space-lg:   calc(2 * var(--space-unit));
    --space-xl:   calc(3.25 * var(--space-unit));
    
  --text-base-size: 1em;
    --text-base-size2: 1.0625em;
    --text-base-size3:1.125em;
    --text-base-size4:1.1875em;
    --text-base-size5:1.25em;
    --text-base-size6:1.3125em;
    
}

@font-face {
  src: url(../fonts/Lovelo-Black.ttf);
  font-family:Lovelo;
  
  
  
}

@font-face {
  src: url(../fonts/BreeSerif-Regular.ttf);
  font-family:BreeSerif;
  
  
  
}

/*Mobile Code Here (375px/23.4375em)*/



.header-sec {
  background-color:var(--primary-color);
  
  height:6em;
  width:100%;
}

.navigation-bar {
  display:none;
  
}


.hamburger-menu-button {
  
  background-image:url('../img/output-onlinepngtools.png');
  background-size:contain;
  background-repeat:no-repeat;
  
  height:2.7em;
  width:12%;
  
  margin-top:1.5em;
  margin-bottom:1.5em;
  margin-right:2.5em;
  
  float:right;
  
  cursor:pointer;
  
}

#hamburger-menu-btn:hover {
  background-image:url('../img/kjbh.png');
  animation:0.3s ease;
}

.name-wrapper-bg {
  
  background-color:var(--secondary-color);
  
  width:100%;
  height:12.5em;
  
  text-align:center;
  
  padding-top:var(--space-md);
  padding-left:1.25em;
  padding-right:1.25em;
  
  margin-bottom:9em;
 
}

.text-highlight-two {
  display:none;
  
  
}


.portfolio-owner-name {
  color:white;
  
  font-family:Lovelo;
  font-size:var(--text-base-size6);
  
  margin-bottom:20px;
  
}

.owner-picture {
  background-image:url('../img/rsz_ryan-kwok-89hpg8wxs0m-unsplash.jpg');
  background-size:cover;
  background-position-y:-3.5em;
  
  border: 4px solid var(--primary-color);
  
  height:16em;
  width:16em;
  
  margin-left:auto;
  margin-right:auto;
  
  border-radius:20em;
}

.about-content-wrapper {
  padding-left:1.25em;
  padding-right:1.25em;
 
  text-align:center;
  
  font-family:BreeSerif;
  font-size:var(--text-base-size);
}

.text-highlight {
  color:var(--secondary-color);
}

.paragraph-one {
  margin-bottom:4em;
  margin-left:auto;
  margin-right:auto;
  width:60%;
}

.social-media-wrapper {
  
  display:flex;
  justify-content:space-between;
  
  margin-right:auto;
  margin-left:auto;
  margin-bottom:3.75em;
  width:50%;
  
  
}

.facebook-icon {
  background-image:url('../img/225169.png');
  background-size:cover;
  height:2.25em;
  width:2.25em;
}

.twitter-icon {
  background-image:url('../img/654566.png');
  background-size:cover;
  height:2.25em;
  width:2.25em;
}

.instagram-icon {
  background-image:url('../img/8e9rtt.png');
  background-size:cover;
  height:2.25em;
  width:2.25em;
}

.about-me-icon {
  background-image:url('../img/hjgf.png');
  background-size:cover;
  
  height:2.875em;
  width:2.875em;

  margin-left:auto;
  margin-right:auto;
  margin-bottom:0.5em;
}

.section-title {
  color:var(--primary-color);
  
  font-size:var(--text-base-size4);
  font-family:Lovelo;
}

.section-title-white {
  color:white;
  
  font-size:var(--text-base-size4);
  font-family:Lovelo;
}

.title-decoration {
  background-color:var(--primary-color);
  
  margin-top:0.4375em;
  margin-right:auto;
  margin-left:auto;
  
  
  width:6.25em;
  height:0.25em;
}

.title-decoration-white {
  background-color:white;
  
  margin-top:0.4375em;
  margin-right:auto;
  margin-left:auto;
  
  
  width:6.25em;
  height:0.25em;
}

.about-image-one {
 
  height:13.375em;
  width:54%;
  
  margin-top:32px;
  margin-bottom:20px;
}

.paragraph-two {
  margin-bottom:3em;
  margin-left:auto;
  margin-right:auto;
  width:60%;
}

.about-image-two {
 
  height:16.625em;
  width:12.0625em;
  
  margin-bottom:20px;
}

.paragraph-three {
  margin-bottom:3.75em;
  margin-left:auto;
  margin-right:auto;
  width:60%;
}

.portfolio-content-wrapper {
  background-color:var(--secondary-color);
  
  padding-top:20px;
  padding-left:1.25em;
  padding-right:1.25em;
  
  text-align:center;
  
  font-family:BreeSerif;
  font-size:var(--text-base-size);
}

.portfolio-icon {
  background-image:url('../img/gftr.png');
  background-size:cover;
  
  height:2.875em;
  width:2.875em;

  margin-left:auto;
  margin-right:auto;
  margin-bottom:1em;
}

.portfolio-contents {
  display:flex;
  flex-direction:column;
  
  margin-left:auto;
  margin-right:auto;
  
  text-align: center;
  
}

.services-content-wrapper {
  padding-top:20px;
  padding-left:1.25em;
  padding-right:1.25em;
  
  text-align:center;
  
  font-family:BreeSerif;
  font-size:var(--text-base-size);
}

.content-sizing{
  background-color:var(--primary-color);
  height:25em;
  width:25em;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:1.25em;
}

.services-icon {
  background-image:url('../img/dshjddfds.png');
  background-size:cover;
  
  height:2.875em;
  width:2.875em;

  margin-left:auto;
  margin-right:auto;
  margin-bottom:1em;
}

.content-box-one {
  background-image:url('../img/boosted-boards-example-of-best-website-ui-design.jpg');
  background-size:auto 400px;
  background-repeat:no-repeat;
  margin-top:32px;
}
.content-box-two {
   background-image:url('../img/fdsffg.jpeg');
    background-size:auto 400px;
    background-repeat:no-repeat;
}
.content-box-three {
   background-image:url('../img/atom-bicycles.jpg');
     background-size:auto 400px;
     background-repeat:no-repeat;
}
.content-box-four {
   background-image:url('../img/fdgfhjk.jpeg');
     background-size:auto 400px;
     background-repeat:no-repeat;
}

.service-icon-1 {
  background-image:url(../img/3317530-200.png);
  background-size:cover;
  background-color:var(--primary-color);
  
  border-radius:100px;
  border:4px solid black  ;
  
  height:120px;
  width:120px;
  
  margin-top:32px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  
}
.service-icon-2 {
    background-image:url(../img/kjhvf.png);
  background-size:cover;
  background-color:var(--primary-color);
  
  border-radius:100px;
  border:4px solid black  ;
  
  height:120px;
  width:120px;
  
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  
}
.service-icon-3 {
    background-image:url(../img/3190581-200.png);
  background-size:75px 75px;
  background-color:var(--primary-color);
  background-repeat:no-repeat;
  background-position-y:15px;
  background-position-x:18px;
  
  border-radius:100px;
  border:4px solid black  ;
  
  height:120px;
  width:120px;
  
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  
}
.service-icon-4 {
  background-image:url(../img/2108552-200.png);
  background-size:100px 100px;
  background-color:var(--primary-color);
  background-repeat:no-repeat;
  background-position-y:10px;
  
  border-radius:100px;
  border:4px solid black  ;
  
  height:120px;
  width:120px;
  
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  
}

.service-title {
  font-size:var(--text-base-size2);
  font-family: Lovelo;
  
  margin-bottom:8px;
}

.service-paragraph {
  width:60%;
  
  margin-top:16px;
  margin-bottom:32px;
  margin-left:auto;
  margin-right:auto;
  
}

.contact-content-wrapper {
  padding-top:20px;
  padding-bottom:20px;
  background-color:var(--secondary-color);
  
  text-align:center;
  
}

.contact-icon {
  
  background-image:url('../img/nkuyvcrt.png');
  background-size:cover;
  
  height:2.875em;
  width:2.875em;


  margin-left:auto;
  margin-right:auto;
  margin-bottom:1em;
}

.owner-picture-two {
  background-image:url('../img/rsz_ryan-kwok-89hpg8wxs0m-unsplash.jpg');
  background-size:cover;
  background-position-y:-3.5em;
  
  border: 4px solid var(--primary-color);
  
  height:14em;
  width:14em;
  
  margin-left:auto;
  margin-right:auto;
  
  border-radius:20em;
  margin-top:20px;
  margin-bottom:20px;
}

.green-title-text {
  color:var(--primary-color);
  
  font-family:Lovelo;
  font-size:var(--text-base-size6);
  
  margin-bottom:20px;
}

.white-title-text {
  color:white;
  
  font-family:Lovelo;
  font-size:var(--text-base-size6);
  
 margin-bottom:20px;
}

.social-media-wrapper-two {
  
  display:flex;
  justify-content:space-between;
  
  margin-right:auto;
  margin-left:auto;
  width:50%;
  
  
}

.facebook-icon-two {
  background-image:url('../img/225169.png');
  background-size:cover;
  display:inline-block;
  height:2.25em;
  width:2.25em;
  margin-right:8px;
}

.twitter-icon-two {
  background-image:url('../img/fdg.png');
  background-size:cover;
  height:2.25em;
  width:2.25em;
}

.instagram-icon-two {
  background-image:url('../img/sdsf.png');
  background-size:cover;
  height:2.25em;
  width:2.25em;
}

@media only screen and (min-width: 37.5em) {
  
  :root {
    --text-base-size: 1.25em;
    --text-base-size2:1.3125em;
    --text-base-size3:1.375em;
    --text-base-size4:1.4375em;
    --text-base-size5:1.5em;
    --text-base-size6:1.5625em;
  }
  /*Mobile Code Here (600px/37.5em)*/
  
.header-sec {
  background-color:var(--primary-color);
  
  height:6em;
  width:100%;
}

.navigation-bar {
  display:none;
  
}

.hamburger-menu-button {
  
  background-image:url('../img/output-onlinepngtools.png');
  background-size:contain;
  background-repeat:no-repeat;
  
  height:2.7em;
  width:12%;
  
  margin-top:1.5em;
  margin-bottom:1.5em;
  margin-right:2.5em;
  
  float:right;
  
  cursor:pointer;
  
}

.name-wrapper-bg {
  
  background-color:var(--secondary-color);
  
  width:100%;
  height:12.5em;
  
  text-align:center;
  
  padding-top:var(--space-md);
  padding-left:1.25em;
  padding-right:1.25em;
  
  margin-bottom:9em;
 
}

.text-highlight-two {
  display:none;
  
  
}

.portfolio-owner-name {
  color:white;
  
  font-family:Lovelo;
  font-size:var(--text-base-size6);
  
  margin-bottom:20px;
  
}

.owner-picture {
  background-image:url('../img/rsz_ryan-kwok-89hpg8wxs0m-unsplash.jpg');
  background-size:cover;
  background-position-y:-3.5em;
  
  border: 4px solid var(--primary-color);
  
  height:16em;
  width:16em;
  
  margin-left:auto;
  margin-right:auto;
  
  border-radius:20em;
}

.about-content-wrapper {
  padding-left:1.25em;
  padding-right:1.25em;
 
  text-align:center;
  
  font-family:BreeSerif;
  font-size:var(--text-base-size);
}

.text-highlight {
  color:var(--secondary-color);
}

.paragraph-one {
  margin-bottom:4em;
  margin-left:auto;
  margin-right:auto;
  width:60%;
}

.social-media-wrapper {
  
  display:flex;
  justify-content:space-between;
  
  margin-right:auto;
  margin-left:auto;
  margin-bottom:3.75em;
  width:50%;
  
  
}

.facebook-icon {
  background-image:url('../img/225169.png');
  background-size:cover;
  height:2.25em;
  width:2.25em;
}

.twitter-icon {
  background-image:url('../img/654566.png');
  background-size:cover;
  height:2.25em;
  width:2.25em;
}

.instagram-icon {
  background-image:url('../img/8e9rtt.png');
  background-size:cover;
  height:2.25em;
  width:2.25em;
}

.about-me-icon {
  background-image:url('../img/hjgf.png');
  background-size:cover;
  
  height:2.875em;
  width:2.875em;

  margin-left:auto;
  margin-right:auto;
  margin-bottom:0.5em;
}

.section-title {
  color:var(--primary-color);
  
  font-size:var(--text-base-size4);
  font-family:Lovelo;
}

.section-title-white {
  color:white;
  
  font-size:var(--text-base-size4);
  font-family:Lovelo;
}

.title-decoration {
  background-color:var(--primary-color);
  
  margin-top:0.4375em;
  margin-right:auto;
  margin-left:auto;
  
  
  width:6.25em;
  height:0.25em;
}

.title-decoration-white {
  background-color:white;
  
  margin-top:0.4375em;
  margin-right:auto;
  margin-left:auto;
  
  
  width:6.25em;
  height:0.25em;
}

.about-image-one {
 
  height:13.375em;
  width:54%;
  
  margin-top:32px;
  margin-bottom:20px;
}

.paragraph-two {
  margin-bottom:3em;
  margin-left:auto;
  margin-right:auto;
  width:60%;
}

.about-image-two {
 
  height:16.625em;
  width:12.0625em;
  
  margin-bottom:20px;
}

.paragraph-three {
  margin-bottom:3.75em;
  margin-left:auto;
  margin-right:auto;
  width:60%;
}

.portfolio-content-wrapper {
  background-color:var(--secondary-color);
  
  padding-top:20px;
  padding-left:1.25em;
  padding-right:1.25em;
  
  text-align:center;
  
  font-family:BreeSerif;
  font-size:var(--text-base-size);
}

.portfolio-icon {
  background-image:url('../img/gftr.png');
  background-size:cover;
  
  height:2.875em;
  width:2.875em;

  margin-left:auto;
  margin-right:auto;
  margin-bottom:1em;
}

.portfolio-contents {
  display:flex;
  flex-direction:column;
  
  margin-left:auto;
  margin-right:auto;
  
  text-align: center;
  
}

.services-content-wrapper {
  padding-top:20px;
  padding-left:1.25em;
  padding-right:1.25em;
  
  text-align:center;
  
  font-family:BreeSerif;
  font-size:var(--text-base-size);
}

.content-sizing{
  background-color:var(--primary-color);
  height:20em;
  width:20em;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:1.25em;
}

.services-icon {
  background-image:url('../img/dshjddfds.png');
  background-size:cover;
  
  height:2.875em;
  width:2.875em;

  margin-left:auto;
  margin-right:auto;
  margin-bottom:1em;
}

.content-box-one {
  background-image:url('../img/boosted-boards-example-of-best-website-ui-design.jpg');
  background-size:auto 400px;
  background-repeat:no-repeat;
  margin-top:32px;
}
.content-box-two {
   background-image:url('../img/fdsffg.jpeg');
    background-size:auto 400px;
    background-repeat:no-repeat;
}
.content-box-three {
   background-image:url('../img/atom-bicycles.jpg');
     background-size:auto 400px;
     background-repeat:no-repeat;
}
.content-box-four {
   background-image:url('../img/fdgfhjk.jpeg');
     background-size:auto 400px;
     background-repeat:no-repeat;
}

.service-icon-1 {
  background-image:url(../img/3317530-200.png);
  background-size:cover;
  background-color:var(--primary-color);
  
  border-radius:100px;
  border:4px solid black  ;
  
  height:120px;
  width:120px;
  
  margin-top:32px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  
}
.service-icon-2 {
    background-image:url(../img/kjhvf.png);
  background-size:cover;
  background-color:var(--primary-color);
  
  border-radius:100px;
  border:4px solid black  ;
  
  height:120px;
  width:120px;
  
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  
}
.service-icon-3 {
    background-image:url(../img/3190581-200.png);
  background-size:75px 75px;
  background-color:var(--primary-color);
  background-repeat:no-repeat;
  background-position-y:15px;
  background-position-x:18px;
  
  border-radius:100px;
  border:4px solid black  ;
  
  height:120px;
  width:120px;
  
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  
}
.service-icon-4 {
  background-image:url(../img/2108552-200.png);
  background-size:100px 100px;
  background-color:var(--primary-color);
  background-repeat:no-repeat;
  background-position-y:10px;
  
  border-radius:100px;
  border:4px solid black  ;
  
  height:120px;
  width:120px;
  
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  
}

.service-title {
  font-size:var(--text-base-size2);
  font-family: Lovelo;
  
  margin-bottom:8px;
}

.service-paragraph {
  width:60%;
  
  margin-top:16px;
  margin-bottom:32px;
  margin-left:auto;
  margin-right:auto;
  
}

.contact-content-wrapper {
  padding-top:20px;
  padding-bottom:20px;
  background-color:var(--secondary-color);
  
  text-align:center;
  
}

.contact-icon {
  
  background-image:url('../img/nkuyvcrt.png');
  background-size:cover;
  
  height:2.875em;
  width:2.875em;


  margin-left:auto;
  margin-right:auto;
  margin-bottom:1em;
}

.owner-picture-two {
  background-image:url('../img/rsz_ryan-kwok-89hpg8wxs0m-unsplash.jpg');
  background-size:cover;
  background-position-y:-3.5em;
  
  border: 4px solid var(--primary-color);
  
  height:14em;
  width:14em;
  
  margin-left:auto;
  margin-right:auto;
  
  border-radius:20em;
  margin-top:20px;
  margin-bottom:20px;
}

.green-title-text {
  color:var(--primary-color);
  
  font-family:Lovelo;
  font-size:var(--text-base-size6);
  
  margin-bottom:20px;
}

.white-title-text {
  color:white;
  
  font-family:Lovelo;
  font-size:var(--text-base-size6);
  
 margin-bottom:20px;
}

.social-media-wrapper-two {
  
  display:flex;
  justify-content:space-between;
  
  margin-right:auto;
  margin-left:auto;
  width:50%;
  
  
}

.facebook-icon-two {
  background-image:url('../img/225169.png');
  background-size:cover;
  display:inline-block;
  height:2.25em;
  width:2.25em;
  margin-right:8px;
}

.twitter-icon-two {
  background-image:url('../img/fdg.png');
  background-size:cover;
  height:2.25em;
  width:2.25em;
}

.instagram-icon-two {
  background-image:url('../img/sdsf.png');
  background-size:cover;
  height:2.25em;
  width:2.25em;
}
  
}

@media only screen and (min-width: 56.25em) {
  
  :root {
    --text-base-size: 1.25em;
    --text-base-size2:1.3125em;
    --text-base-size3:1.375em;
    --text-base-size4:1.4375em;
    --text-base-size5:1.5em;
    --text-base-size6:1.5625em;
  }

  /*Tablet Code Here (900px/56.25em)*/
  
  .header-sec {
  background-color:var(--primary-color);
  
  padding-left:1.25em;
  padding-right:1.25em;
  
  height:6em;
  width:100%;
  
  display:flex;
  align-items:center;
  justify-content:center;
}

.navigation-bar {
  display:flex;
  align-items:center;
  
  list-style:none;
  user-select:none;
}

.list-item-icon-1 {
  background-image:url('../img/hgfd.png');
  background-size:cover;
  margin-left:2em;
  margin-right:1em;
  
  
  width:3em;
  height:3em;
}

.list-item-icon-2 {
  
  background-image:url('../img/gftr.png');
  background-size:cover;
  
  
  margin-right:1em;
  
  width:3em;
  height:3em;
}

.list-item-icon-3 {
  
  background-image:url('../img/yfhndgb.png');
  background-size:cover;
  
  margin-right:1em;
  
  width:3em;
  height:3em;
}

.list-item-icon-4 {
  
  background-image:url('../img/nkuyvcrt.png');
  background-size:cover;
  
  margin-right:1em;
  
  width:3em;
  height:3em;
}

.list-item {
  color:white;
  
  font-family:Lovelo;
  font-size:var(--text-base-size);
}

.list-item-wrapper {
  width:5%;
  height:3em;
}


.list-item:hover {
  cursor:pointer;

}

.list-item-icon:hover {
  cursor:pointer;

}

@keyframes colorchange {
  0% {
    color:white;
  }
  100% {
    color:var(--secondary-color);
  }
}

#list-item-1 {
  color:white;
  
  margin-right:2.4em;
  
  font-family:Lovelo;
  font-size:var(--text-base-size);
}



#list-item-1:hover {
  color:var(--secondary-color);
  
  animation: colorchange 0.3s ease;
}

#list-item-2 {
  color:white;
  
  margin-right:2.4em;
  
  font-family:Lovelo;
  font-size:var(--text-base-size);
}

#list-item-2:hover {
  color:var(--secondary-color);
  
  animation: colorchange 0.2s ease;
}


#list-item-3 {
  color:white;
  
  margin-right:2.4em;
  
  font-family:Lovelo;
  font-size:var(--text-base-size);
}

#list-item-3:hover {
  color:var(--secondary-color);
  
  animation: colorchange 0.2s ease;
}


#list-item-4 {
  color:white;
  
  margin-right:2em;
  
  font-family:Lovelo;
  font-size:var(--text-base-size);
}

#list-item-4:hover {
  color:var(--secondary-color);
  
  animation: colorchange 0.2s ease;
}


.hamburger-menu-button {
  
  display:none;
  
}

.name-wrapper-bg {
  
  background-color:var(--secondary-color);
  
  width:100%;
  height:12.5em;
  
  
  padding-top:var(--space-md);
  padding-left:1.25em;
  padding-right:1.25em;
  
  margin-bottom:1.25em;
 
}

.text-highlight-two {
  color:var(--primary-color);
  
  font-family:Lovelo;
  font-size:20px;
  
  float:left;
  text-align:left;
  
  display:inline;
  
  
}

.portfolio-owner-name {
  color:white;
  
  font-family:Lovelo;
  font-size:var(--text-base-size6);
  
  margin-top:128px;
  margin-bottom:20px;
  
  width:51.15%;
  
  
  text-align:left;
  float:right;
  
}

.owner-picture {
  background-image:url('../img/rsz_ryan-kwok-89hpg8wxs0m-unsplash.jpg');
  background-size:cover;
  background-position-y:-3.5em;
  
  border: 4px solid var(--primary-color);
  
  height:16em;
  width:16em;
  
  margin-top:30px;
  margin-left:6.5em;
  
  border-radius:20em;
}

.about-content-wrapper {
  padding-left:1.25em;
  padding-right:1.25em;
  padding-bottom:64px;
 
  
  
  font-family:BreeSerif;
  font-size:var(--text-base-size);
}

.text-highlight {
  color:var(--secondary-color);
}

.paragraph-one {
  margin-bottom:1.25em;
  margin-right:0.5em;
  
  text-align:left;
  
  width:50%;
  
  float:right;
}

.social-media-wrapper {
  
  display:flex;
  
  justify-content:flex-start;
  margin-right:8px;
  margin-bottom:3.75em;
  
  
  
}

.facebook-icon {
  background-image:url('../img/225169.png');
  background-size:cover;
  height:32px;
  width:32px;
  margin-right:8px;
}

.twitter-icon {
  background-image:url('../img/654566.png');
  background-size:cover;
  height:32px;
  width:32px;
  margin-right:8px;
}

.instagram-icon {
  background-image:url('../img/8e9rtt.png');
  background-size:cover;
  height:32px;
  width:32px;
}

.about-me-icon {
  background-image:url('../img/hjgf.png');
  background-size:cover;
  
  height:2em;
  width:2em;

  margin-left:auto;
  margin-right:auto;
  margin-bottom:0.5em;
}

.section-title {
  color:var(--primary-color);
  
  font-size:var(--text-base);
  font-family:Lovelo;
}

.section-title-white {
  color:white;
  
  font-size:var(--text-base);
  font-family:Lovelo;
}

.title-decoration {
  background-color:var(--primary-color);
  
  margin-top:0.4375em;
  margin-right:auto;
  margin-left:auto;
  
  
  width:104px;
  height:0.25em;
}

.title-decoration-white {
  background-color:white;
  
  margin-top:0.4375em;
  margin-right:auto;
  margin-left:auto;
  
  
  width:104px;
  height:0.25em;
}

.text-img-block-1 {
  display:flex;
  flex-direction:row-reverse;
  align-items:center;
  
  height:300px;
}

.text-img-block-2 {
  display:flex;
height:300px;
  align-items:center;
  margin-bottom:20px;
}

.about-image-one {
 
  height:296px;
  width:30%;
  
  margin-top:32px;
  margin-bottom:8px;
  
  float:right;
}

.paragraph-two {
  
  font-size:20px;
  
  margin-top:112px;
  margin-bottom:3em;
  margin-right:80px;
  
  text-align:left;
  
  float:left;

  width:60%;
}

.about-image-two {
 
  height:264px;
  width:29%;
  
  
  margin-bottom:20px;
}

.paragraph-three {
  font-size:20px;
  
  margin-top:112px;
  margin-bottom:3em;
  margin-right:80px;
  
  text-align:right;
  
  float:left;

  width:60%;
}

.portfolio-content-wrapper {
  background-color:var(--secondary-color);
  
  padding-top:20px;
  padding-left:1.25em;
  padding-right:1.25em;
  padding-bottom:64px;
  
  text-align:center;
  
  font-family:BreeSerif;
  font-size:var(--text-base-size);
}

.portfolio-icon {
  background-image:url('../img/gftr.png');
  background-size:cover;
  
  height:2.875em;
  width:2.875em;

  margin-left:auto;
  margin-right:auto;
  margin-bottom:1em;
}

.portfolio-contents {
  display:flex;
  flex-direction:row;
  
  margin-left:auto;
  margin-right:auto;
  
  text-align: center;
  
}

.content-box-one {
  background-image:url('../img/boosted-boards-example-of-best-website-ui-design.jpg');
  background-size:auto 400px;
  background-repeat:no-repeat;
  margin-top:64px;
}
.content-box-two {
   background-image:url('../img/fdsffg.jpeg');
    background-size:auto 400px;
    background-repeat:no-repeat;
    margin-top:64px;
}
.content-box-three {
   background-image:url('../img/atom-bicycles.jpg');
     background-size:auto 400px;
     background-repeat:no-repeat;
     margin-top:64px;
}
.content-box-four {
   background-image:url('../img/fdgfhjk.jpeg');
     background-size:auto 400px;
     background-repeat:no-repeat;
     margin-top:64px;
}

.content-sizing{
  background-color:var(--primary-color);
  height:200px;
  width:200px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:1.25em;
}
.services-content-wrapper {
  padding-top:20px;
  padding-left:1.25em;
  padding-right:1.25em;
  padding-bottom:64px;
  
  margin-left:auto;
  margin-right:auto;
  
  display:grid;
  font-family:BreeSerif;
  font-size:var(--text-base-size);
}

.services-grid-wrapper {
  margin-top:64px;
   display:inline-grid;
   grid-template-columns: repeat(2,420px);
   grid-row-gap:1.25em;
   grid-column-gap:1.25em;
   
   
  margin-left:auto;
  margin-right:auto;
}



.services-icon {
  background-image:url('../img/dshjddfds.png');
  background-size:cover;
  
  height:2.875em;
  width:2.875em;

  margin-left:auto;
  margin-right:auto;
  margin-bottom:1em;
}



.service-icon-1 {
  background-image:url(../img/3317530-200.png);
  background-size:cover;
  background-color:var(--primary-color);
  
  border-radius:100px;
  border:4px solid black  ;
  
  height:120px;
  width:120px;
  
  margin-top:32px;

  margin-bottom:20px;
  
}
.service-icon-2 {
    background-image:url(../img/kjhvf.png);
  background-size:cover;
  background-color:var(--primary-color);
  
  border-radius:100px;
  border:4px solid black  ;
  
  height:120px;
  width:120px;
  
margin-top:32px;
  margin-bottom:20px;
  
}
.service-icon-3 {
    background-image:url(../img/3190581-200.png);
  background-size:75px 75px;
  background-color:var(--primary-color);
  background-repeat:no-repeat;
  background-position-y:15px;
  background-position-x:18px;
  
  border-radius:100px;
  border:4px solid black  ;
  
  height:120px;
  width:120px;

  margin-bottom:20px;
  
}
.service-icon-4 {
  background-image:url(../img/2108552-200.png);
  background-size:100px 100px;
  background-color:var(--primary-color);
  background-repeat:no-repeat;
  background-position-y:10px;
  
  border-radius:100px;
  border:4px solid black  ;
  
  height:120px;
  width:120px;

  margin-bottom:20px;
  
}

.service-title {
  font-size:var(--text-base-size2);
  font-family: Lovelo;
  
  margin-bottom:8px;
}

.service-paragraph {

  font-size:20px;
  margin-top:16px;
  margin-bottom:32px;

  width:100%;
}

.contact-content-wrapper {
  padding-top:20px;
  padding-bottom:64px;
  background-color:var(--secondary-color);
  
  text-align:center;
  
}

.contact-icon {
  
  background-image:url('../img/nkuyvcrt.png');
  background-size:cover;
  
  height:2.875em;
  width:2.875em;


  margin-left:auto;
  margin-right:auto;
  margin-bottom:1em;
}

.owner-picture-two {
  background-image:url('../img/rsz_ryan-kwok-89hpg8wxs0m-unsplash.jpg');
  background-size:cover;
  background-position-y:-3.5em;
  
  border: 4px solid var(--primary-color);
  
  height:16em;
  width:16em;
  /*width:25%;*/
  
  
  border-radius:20em;
 
}

.green-title-text {
  color:var(--primary-color);
  
  font-family:Lovelo;
  font-size:var(--text-base-size6);
  
  
  margin-bottom:20px;
}

.contact-content {
  display:flex;
  flex-direction:row-reverse;
  
justify-content:space-between;
  align-items:center;
  
}

.contact-text {
margin-left:10em;
}

.phone-number-text {
  margin-top:64px;
}

.white-title-text {
  color:white;
  
  font-family:Lovelo;
  font-size:var(--text-base-size6);
  
 margin-bottom:20px;
}

.social-media-wrapper-two {
  
  display:inline;
  
  
 

  
  
}

.facebook-icon-two {
  background-image:url('../img/225169.png');
  background-size:cover;
  display:inline-block;
  height:2.25em;
  width:2.25em;
  margin-right:8px;
}


.twitter-icon-two {
  background-image:url('../img/fdg.png');
  background-size:cover;
  height:2.25em;
  width:2.25em;
  margin-right:8px;
  display:inline-block;
}

.instagram-icon-two {
  background-image:url('../img/sdsf.png');
  background-size:cover;
  height:2.25em;
  width:2.25em;
  margin-right:8px;
  display:inline-block;
}
  
}

@media only screen and (min-width: 75em) {
  :root {
    --text-base-size: 1.3125em;
    --text-base-size2: 1.375em;
    --text-base-size3:1.4375em;
    --text-base-size4:1.5em;
    --text-base-size5:1.5625em;
    --text-base-size6:1.625em;
    --text-base-size7:1.6875em;
  }
  
  /*Desktop Code Here (1200px/75em)*/
   .header-sec {
  background-color:var(--primary-color);
  
  padding-left:1.25em;
  padding-right:1.25em;
  
  height:6em;
  width:100%;
  
  display:flex;
  align-items:center;
  justify-content:center;
}

.navigation-bar {
  display:flex;
  align-items:center;
  
  list-style:none;
}

.list-item-icon-1 {
  background-image:url('../img/hgfd.png');
  background-size:cover;
  margin-left:2em;
  margin-right:1em;
  
  
  width:3em;
  height:3em;
}

.list-item-icon-2 {
  
  background-image:url('../img/gftr.png');
  background-size:cover;
  
  
  margin-right:1em;
  
  width:3em;
  height:3em;
}

.list-item-icon-3 {
  
  background-image:url('../img/yfhndgb.png');
  background-size:cover;
  
  margin-right:1em;
  
  width:3em;
  height:3em;
}

.list-item-icon-4 {
  
  background-image:url('../img/nkuyvcrt.png');
  background-size:cover;
  
  margin-right:1em;
  
  width:3em;
  height:3em;
}

.list-item {
  color:white;
  
  font-family:Lovelo;
  font-size:var(--text-base-size);
}

#list-item-1 {
  color:white;
  
  margin-right:2.4em;
  
  font-family:Lovelo;
  font-size:var(--text-base-size);
}

#list-item-2 {
  color:white;
  
  margin-right:2.4em;
  
  font-family:Lovelo;
  font-size:var(--text-base-size);
}

#list-item-3 {
  color:white;
  
  margin-right:2.4em;
  
  font-family:Lovelo;
  font-size:var(--text-base-size);
}

#list-item-4 {
  color:white;
  
  margin-right:2em;
  
  font-family:Lovelo;
  font-size:var(--text-base-size);
}

.hamburger-menu-button {
  
  display:none;
  
}

.name-wrapper-bg {
  
  background-color:var(--secondary-color);
  
  width:100%;
  height:12.5em;
  
  
  padding-top:var(--space-md);
  padding-left:1.25em;
  padding-right:1.25em;
  
  margin-bottom:1.25em;
 
}

.text-highlight-two {
  color:var(--primary-color);
  
  font-family:Lovelo;
  font-size:var(--text-base);
  
  float:left;
  text-align:left;
  
  display:inline;
  
  
}

.portfolio-owner-name {
  color:white;
  
  font-family:Lovelo;
  font-size:var(--text-base-size6);
  
  margin-top:128px;
  margin-bottom:20px;
  
  width:51.15%;
  
  
  text-align:left;
  float:right;
  
}

.owner-picture {
  background-image:url('../img/rsz_ryan-kwok-89hpg8wxs0m-unsplash.jpg');
  background-size:cover;
  background-position-y:-3.5em;
  
  border: 4px solid var(--primary-color);
  
  height:17em;
  width:17em;
  
  margin-top:30px;
  margin-left:6.5em;
  
  border-radius:20em;
}

.about-content-wrapper {
  padding-left:1.25em;
  padding-right:1.25em;
  padding-bottom:64px;
 
  
  
  font-family:BreeSerif;
  font-size:var(--text-base-size);
}

.text-highlight {
  color:var(--secondary-color);
}

.paragraph-one {
  margin-bottom:1.25em;
  margin-right:0.5em;
  
  text-align:left;
font-size:var(--text-base-size);
  
  width:50%;
  
  float:right;
}

.social-media-wrapper {
  
  display:flex;
  
  justify-content:flex-start;
  margin-right:8px;
  margin-bottom:3.75em;
  
  
  
}

.facebook-icon {
  background-image:url('../img/225169.png');
  background-size:cover;
  height:32px;
  width:32px;
  margin-right:8px;
}

.twitter-icon {
  background-image:url('../img/654566.png');
  background-size:cover;
  height:32px;
  width:32px;
  margin-right:8px;
}

.instagram-icon {
  background-image:url('../img/8e9rtt.png');
  background-size:cover;
  height:32px;
  width:32px;
}

.about-me-icon {
  background-image:url('../img/hjgf.png');
  background-size:cover;
  
  height:2em;
  width:2em;

  margin-left:auto;
  margin-right:auto;
  margin-bottom:0.5em;
}

.section-title {
  color:var(--primary-color);
  
  font-size:var(--text-base-size);
  font-family:Lovelo;
}

.section-title-white {
  color:white;
  
  font-size:var(--text-base-size);
  font-family:Lovelo;
}

.title-decoration {
  background-color:var(--primary-color);
  
  margin-top:0.4375em;
  margin-right:auto;
  margin-left:auto;
  
  
  width:104px;
  height:0.25em;
}

.title-decoration-white {
  background-color:white;
  
  margin-top:0.4375em;
  margin-right:auto;
  margin-left:auto;
  
  
  width:104px;
  height:0.25em;
}

.text-img-block-1 {
  display:flex;
  flex-direction:row-reverse;
  align-items:center;
  
  height:300px;
}

.text-img-block-2 {
  display:flex;
height:300px;
  align-items:center;
  margin-bottom:20px;
}

.about-image-one {
 
  height:296px;
  width:30%;
  
  margin-top:32px;
  margin-bottom:8px;
  
  float:right;
}

.paragraph-two {
  
  font-size:var(--text-base-size);
  
  margin-top:112px;
  margin-bottom:3em;
  margin-right:80px;
  
  text-align:left;

  float:left;

  width:60%;
}

.about-image-two {
 
  height:264px;
  width:29%;
  
  
  margin-bottom:20px;
}

.paragraph-three {
  font-size:var(--text-base-size);
  margin-top:112px;
  margin-bottom:3em;
  margin-right:80px;
  
  text-align:right;
  
  float:left;

  width:60%;
}

.portfolio-content-wrapper {
  background-color:var(--secondary-color);
  
  padding-top:20px;
  padding-left:1.25em;
  padding-right:1.25em;
  padding-bottom:64px;
  
  text-align:center;
  
  font-family:BreeSerif;
  font-size:var(--text-base-size);
}

.portfolio-icon {
  background-image:url('../img/gftr.png');
  background-size:cover;
  
  height:2.875em;
  width:2.875em;

  margin-left:auto;
  margin-right:auto;
  margin-bottom:1em;
}

.portfolio-contents {
  display:flex;
  flex-direction:row;
  
  margin-left:auto;
  margin-right:auto;
  
  text-align: center;
  
}

.content-box-one {
  background-image:url('../img/boosted-boards-example-of-best-website-ui-design.jpg');
  background-size:auto 400px;
  background-repeat:no-repeat;
  margin-top:64px;
}
.content-box-two {
   background-image:url('../img/fdsffg.jpeg');
    background-size:auto 400px;
    background-repeat:no-repeat;
    margin-top:64px;
}
.content-box-three {
   background-image:url('../img/atom-bicycles.jpg');
     background-size:auto 400px;
     background-repeat:no-repeat;
     margin-top:64px;
}
.content-box-four {
   background-image:url('../img/fdgfhjk.jpeg');
     background-size:auto 400px;
     background-repeat:no-repeat;
     margin-top:64px;
}

.content-sizing{
  background-color:var(--primary-color);
  height:200px;
  width:200px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:1.25em;
}
.services-content-wrapper {
  padding-top:20px;
  padding-left:1.25em;
  padding-right:1.25em;
  padding-bottom:64px;
  
  margin-left:auto;
  margin-right:auto;
  
  display:grid;
  font-family:BreeSerif;
  font-size:var(--text-base-size);
}

.services-grid-wrapper {
  margin-top:64px;
   display:inline-grid;
   grid-template-columns: repeat(2,420px);
   grid-row-gap:1.25em;
   grid-column-gap:1.25em;
   
   
  margin-left:auto;
  margin-right:auto;
}



.services-icon {
  background-image:url('../img/dshjddfds.png');
  background-size:cover;
  
  height:2.875em;
  width:2.875em;

  margin-left:auto;
  margin-right:auto;
  margin-bottom:1em;
}



.service-icon-1 {
  background-image:url(../img/3317530-200.png);
  background-size:cover;
  background-color:var(--primary-color);
  
  border-radius:100px;
  border:4px solid black  ;
  
  height:120px;
  width:120px;
  
  margin-top:32px;

  margin-bottom:20px;
  
}
.service-icon-2 {
    background-image:url(../img/kjhvf.png);
  background-size:cover;
  background-color:var(--primary-color);
  
  border-radius:100px;
  border:4px solid black  ;
  
  height:120px;
  width:120px;
  
margin-top:32px;
  margin-bottom:20px;
  
}
.service-icon-3 {
    background-image:url(../img/3190581-200.png);
  background-size:75px 75px;
  background-color:var(--primary-color);
  background-repeat:no-repeat;
  background-position-y:15px;
  background-position-x:18px;
  
  border-radius:100px;
  border:4px solid black  ;
  
  height:120px;
  width:120px;

  margin-bottom:20px;
  
}
.service-icon-4 {
  background-image:url(../img/2108552-200.png);
  background-size:100px 100px;
  background-color:var(--primary-color);
  background-repeat:no-repeat;
  background-position-y:10px;
  
  border-radius:100px;
  border:4px solid black  ;
  
  height:120px;
  width:120px;

  margin-bottom:20px;
  
}

.service-title {
  font-size:var(--text-base-size2);
  font-family: Lovelo;
  
  margin-bottom:8px;
}

.service-paragraph {

  font-size:var(--text-base-size);
  margin-top:16px;
  margin-bottom:32px;

  width:100%;
}

.contact-content-wrapper {
  padding-top:20px;
  padding-bottom:64px;
  background-color:var(--secondary-color);
  
  text-align:center;
  
}

.contact-icon {
  
  background-image:url('../img/nkuyvcrt.png');
  background-size:cover;
  
  height:2.875em;
  width:2.875em;


  margin-left:auto;
  margin-right:auto;
  margin-bottom:1em;
}

.owner-picture-two {
  background-image:url('../img/rsz_ryan-kwok-89hpg8wxs0m-unsplash.jpg');
  background-size:cover;
  background-position-y:-3.5em;
  
  border: 4px solid var(--primary-color);
  
  height:22.5em;
  width:22.5em;
  /*width:25%;*/
  
  
  border-radius:20em;
 
}

.green-title-text {
  color:var(--primary-color);
  
  font-family:Lovelo;
  font-size:var(--text-base-size6);
  
  
  margin-bottom:20px;
}

.contact-content {
  display:flex;
  flex-direction:row-reverse;
  
justify-content:space-between;
  align-items:center;
  
}

.contact-text {
margin-left:15em;
}

.phone-number-text {
  margin-top:64px;
}

.white-title-text {
  color:white;
  
  font-family:Lovelo;
  font-size:var(--text-base-size6);
  
 margin-bottom:20px;
}

.social-media-wrapper-two {
  
  display:inline;
  
  
 

  
  
}

.facebook-icon-two {
  background-image:url('../img/225169.png');
  background-size:cover;
  display:inline-block;
  height:2.25em;
  width:2.25em;
  margin-right:8px;
}


.twitter-icon-two {
  background-image:url('../img/fdg.png');
  background-size:cover;
  height:2.25em;
  width:2.25em;
  margin-right:8px;
  display:inline-block;
}

.instagram-icon-two {
  background-image:url('../img/sdsf.png');
  background-size:cover;
  height:2.25em;
  width:2.25em;
  margin-right:8px;
  display:inline-block;
}
}
